In [325]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

selection_query = """
SELECT created_at, type_id, type, user_id, user_login, surname, user_ip, user_role, value, custom_type, policy_id, policy_name, incident_rules, syslog_active, incident_countermeasures, incident_max_pass_bps, incident_max_input_bps, incident_max_drop_pps, incident_max_drop_bps, incident_started_at
FROM my_table
"""

cursor.execute(selection_query)
rows = cursor.fetchall()

2.2

In [326]:
columns = [description[0] for description in cursor.description]

cursor.execute("PRAGMA table_info(my_table)")
table_info = cursor.fetchall()

text_columns = [col[1] for col in table_info if col[2] == 'TEXT' and col[1] in columns]

query_parts = []
for column in text_columns:
    query_part = (
        f"SELECT\r\n"
        f"    '{column}' AS column_name,\r\n"
        f"    COUNT(DISTINCT {column}) AS unique_count\r\n"
        f"FROM my_table"
    )
    query_parts.append(query_part)

final_query = "\r\nUNION ALL\r\n".join(query_parts)

print(final_query)

SELECT
    'created_at' AS column_name,
    COUNT(DISTINCT created_at) AS unique_count
FROM my_table
UNION ALL
SELECT
    'type_id' AS column_name,
    COUNT(DISTINCT type_id) AS unique_count
FROM my_table
UNION ALL
SELECT
    'type' AS column_name,
    COUNT(DISTINCT type) AS unique_count
FROM my_table
UNION ALL
SELECT
    'user_login' AS column_name,
    COUNT(DISTINCT user_login) AS unique_count
FROM my_table
UNION ALL
SELECT
    'surname' AS column_name,
    COUNT(DISTINCT surname) AS unique_count
FROM my_table
UNION ALL
SELECT
    'user_ip' AS column_name,
    COUNT(DISTINCT user_ip) AS unique_count
FROM my_table
UNION ALL
SELECT
    'user_role' AS column_name,
    COUNT(DISTINCT user_role) AS unique_count
FROM my_table
UNION ALL
SELECT
    'value' AS column_name,
    COUNT(DISTINCT value) AS unique_count
FROM my_table
UNION ALL
SELECT
    'custom_type' AS column_name,
    COUNT(DISTINCT custom_type) AS unique_count
FROM my_table
UNION ALL
SELECT
    'policy_name' AS column_name,
    COUNT(DISTINCT policy_name) AS unique_count
FROM my_table
UNION ALL
SELECT
    'syslog_active' AS column_name,
    COUNT(DISTINCT syslog_active) AS unique_count
FROM my_table
UNION ALL
SELECT
    'incident_countermeasures' AS column_name,
    COUNT(DISTINCT incident_countermeasures) AS unique_count
FROM my_table
UNION ALL
SELECT
    'incident_started_at' AS column_name,
    COUNT(DISTINCT incident_started_at) AS unique_count
FROM my_table

In [327]:
yaml_2= (
"table_name: '2'",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {repr(final_query)}",
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: 0554298e-b5e9-4e65-9eda-31d9f2e4d8bc",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: unique_count",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: column_name",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: STRING",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118",
)

In [328]:

open('C:/Users/idukh/OneDrive/Рабочий стол/ДИСК D/INNOSTAGE/sql_request/dashboard_export/dashboard_export/datasets/PostgreSQL/2.yaml', 'w').write('\n'.join(yaml_2))

2735

In [329]:
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

cursor.execute(selection_query)
rows = cursor.fetchall()

5.5

In [330]:
column_names = [description[0] for description in cursor.description]

df = pd.DataFrame(rows, columns=column_names)

numeric_columns = df.select_dtypes(include='number')

correlation_matrix = numeric_columns.corr()
queries = []
correlated_pairs = []
threshold = 0.5
for col1 in correlation_matrix.columns:
    for col2 in correlation_matrix.columns:
        if col1 != col2 and correlation_matrix[col1][col2] > threshold:
            query = (
                f"SELECT\r\n"
                f"    '{col1}' AS name,\r\n"
                f"    AVG({col1}) AS average_value,\r\n"
                f"    MIN({col1}) AS min_value,\r\n"
                f"    MAX({col1}) AS max_value\r\n"
                f"  FROM my_table\r\n"
                f"  UNION ALL\r\n"
                f"  SELECT\r\n"
                f"    '{col2}' AS name,\r\n"
                f"    AVG({col2}) AS average_value,\r\n"
                f"    MIN({col2}) AS min_value,\r\n"
                f"    MAX({col2}) AS max_value\r\n"
                f"  FROM my_table;\r\n"
            )
            queries.append(query)

In [331]:
yaml_5 = []  # Создаем пустой список

def Untitled_Query_2_def(mass):
    for i in range(len(mass)):  # Проходим по индексам элементов списка mass
        query = (
            "table_name: '5'",
            "main_dttm_col: null",
            "description: null",
            "default_endpoint: null",
            "offset: 0",
            "cache_timeout: null",
            "catalog: postgres",
            "schema: public",
            f"sql: {repr(mass[i])}",
            "params: null",
            "template_params: null",
            "filter_select_enabled: true",
            "fetch_values_predicate: null",
            "extra: null",
            "normalize_columns: false",
            "always_filter_main_dttm: false",
            "uuid: 105c252f-b820-455a-858c-f1901df3200a",
            "metrics:",
            "- metric_name: count",
            "  verbose_name: COUNT(*)",
            "  metric_type: count",
            "  expression: COUNT(*)",
            "  description: null",
            "  d3format: null",
            "  currency: null",
            "  extra: null",
            "  warning_text: null",
            "columns:",
            "- column_name: average_value",
            "  verbose_name: null",
            "  is_dttm: false",
            "  is_active: true",
            "  type: FLOAT",
            "  advanced_data_type: null",
            "  groupby: true",
            "  filterable: true",
            "  expression: null",
            "  description: null",
            "  python_date_format: null",
            "  extra: null",
            "- column_name: max_value",
            "  verbose_name: null",
            "  is_dttm: false",
            "  is_active: true",
            "  type: FLOAT",
            "  advanced_data_type: null",
            "  groupby: true",
            "  filterable: true",
            "  expression: null",
            "  description: null",
            "  python_date_format: null",
            "  extra: null",
            "- column_name: min_value",
            "  verbose_name: null",
            "  is_dttm: false",
            "  is_active: true",
            "  type: FLOAT",
            "  advanced_data_type: null",
            "  groupby: true",
            "  filterable: true",
            "  expression: null",
            "  description: null",
            "  python_date_format: null",
            "  extra: null",
            "- column_name: name",
            "  verbose_name: null",
            "  is_dttm: false",
            "  is_active: true",
            "  type: STRING",
            "  advanced_data_type: null",
            "  groupby: true",
            "  filterable: true",
            "  expression: null",
            "  description: null",
            "  python_date_format: null",
            "  extra: null",
            "version: 1.0.0",
            "database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
        )
        yaml_5.append(query)  # Добавляем запрос в список Untitled_Query_2

# Пример использования
  # Пример списка SQL-запросов
Untitled_Query_2_def(queries)

yaml_5[0]

("table_name: '5'",
 'main_dttm_col: null',
 'description: null',
 'default_endpoint: null',
 'offset: 0',
 'cache_timeout: null',
 'catalog: postgres',
 'schema: public',
 'sql: "SELECT\\r\\n    \'incident_max_input_bps\' AS name,\\r\\n    AVG(incident_max_input_bps) AS average_value,\\r\\n    MIN(incident_max_input_bps) AS min_value,\\r\\n    MAX(incident_max_input_bps) AS max_value\\r\\n  FROM my_table\\r\\n  UNION ALL\\r\\n  SELECT\\r\\n    \'incident_max_drop_pps\' AS name,\\r\\n    AVG(incident_max_drop_pps) AS average_value,\\r\\n    MIN(incident_max_drop_pps) AS min_value,\\r\\n    MAX(incident_max_drop_pps) AS max_value\\r\\n  FROM my_table;\\r\\n"',
 'params: null',
 'template_params: null',
 'filter_select_enabled: true',
 'fetch_values_predicate: null',
 'extra: null',
 'normalize_columns: false',
 'always_filter_main_dttm: false',
 'uuid: 105c252f-b820-455a-858c-f1901df3200a',
 'metrics:',
 '- metric_name: count',
 '  verbose_name: COUNT(*)',
 '  metric_type: count',
 '  expression: COUNT(*)',
 '  description: null',
 '  d3format: null',
 '  currency: null',
 '  extra: null',
 '  warning_text: null',
 'columns:',
 '- column_name: average_value',
 '  verbose_name: null',
 '  is_dttm: false',
 '  is_active: true',
 '  type: FLOAT',
 '  advanced_data_type: null',
 '  groupby: true',
 '  filterable: true',
 '  expression: null',
 '  description: null',
 '  python_date_format: null',
 '  extra: null',
 '- column_name: max_value',
 '  verbose_name: null',
 '  is_dttm: false',
 '  is_active: true',
 '  type: FLOAT',
 '  advanced_data_type: null',
 '  groupby: true',
 '  filterable: true',
 '  expression: null',
 '  description: null',
 '  python_date_format: null',
 '  extra: null',
 '- column_name: min_value',
 '  verbose_name: null',
 '  is_dttm: false',
 '  is_active: true',
 '  type: FLOAT',
 '  advanced_data_type: null',
 '  groupby: true',
 '  filterable: true',
 '  expression: null',
 '  description: null',
 '  python_date_format: null',
 '  extra: null',
 '- column_name: name',
 '  verbose_name: null',
 '  is_dttm: false',
 '  is_active: true',
 '  type: STRING',
 '  advanced_data_type: null',
 '  groupby: true',
 '  filterable: true',
 '  expression: null',
 '  description: null',
 '  python_date_format: null',
 '  extra: null',
 'version: 1.0.0',
 'database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118')

In [332]:

open('C:/Users/idukh/OneDrive/Рабочий стол/ДИСК D/INNOSTAGE/sql_request/dashboard_export/dashboard_export/datasets/PostgreSQL/5.yaml', 'w').write('\n'.join(yaml_5[0]))

2016

4

In [333]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()


cursor.execute(selection_query)
rows = cursor.fetchall()

columns = [description[0] for description in cursor.description]  # Имена столбцов в выборке
cursor.execute("PRAGMA table_info(my_table)")
table_info = cursor.fetchall()

text_columns = [col[1] for col in table_info if col[2].upper() == 'TEXT' and col[1] in columns]
numeric_columns = [col[1] for col in table_info if col[2].upper() in ('INTEGER', 'REAL', 'NUMERIC') and col[1] in columns]

column_list = "', '".join(text_columns + numeric_columns)

final_query = (
    "SELECT\r\n"
    "    COUNT(*) FILTER (WHERE data_type ILIKE 'character varying' OR data_type ILIKE 'text') AS text_column_count,\r\n"
    "    COUNT(*) FILTER (WHERE data_type ILIKE 'integer' OR data_type ILIKE 'numeric' OR data_type ILIKE 'double precision' OR data_type ILIKE 'real') AS numeric_column_count\r\n"
    "FROM information_schema.columns\r\n"
    f"WHERE table_name = 'my_table'\r\n"
    f"AND column_name IN ('{column_list}')"
)

print(final_query)

conn.close()

SELECT
    COUNT(*) FILTER (WHERE data_type ILIKE 'character varying' OR data_type ILIKE 'text') AS text_column_count,
    COUNT(*) FILTER (WHERE data_type ILIKE 'integer' OR data_type ILIKE 'numeric' OR data_type ILIKE 'double precision' OR data_type ILIKE 'real') AS numeric_column_count
FROM information_schema.columns
WHERE table_name = 'my_table'
AND column_name IN ('created_at', 'type_id', 'type', 'user_login', 'surname', 'user_ip', 'user_role', 'value', 'custom_type', 'policy_name', 'syslog_active', 'incident_countermeasures', 'incident_started_at', 'user_id', 'policy_id', 'incident_rules', 'incident_max_pass_bps', 'incident_max_input_bps', 'incident_max_drop_pps', 'incident_max_drop_bps')

In [334]:
yaml_4 = (
"table_name: '4'",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {repr(final_query)}", 
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: 7619e636-f052-4c74-8c72-66bc3a0fc9c0",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: numeric_column_count",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: text_column_count",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)

In [335]:

open('C:/Users/idukh/OneDrive/Рабочий стол/ДИСК D/INNOSTAGE/sql_request/dashboard_export/dashboard_export/datasets/PostgreSQL/4.yaml', 'w').write('\n'.join(yaml_4))

1837

3

In [336]:

final_query = (
    "SELECT\r\n"
    "   column_name AS \"Column_Name\",\r\n"
    "   data_type AS \"Data_Type\"\r\n"
    "   FROM\r\n"
    "       information_schema.columns\r\n"
    f"  WHERE table_name = 'my_table'\r\n"
    f"  AND column_name IN ('{column_list}')"
)


print(final_query)

conn.close()

SELECT
   column_name AS "Column_Name",
   data_type AS "Data_Type"
   FROM
       information_schema.columns
  WHERE table_name = 'my_table'
  AND column_name IN ('created_at', 'type_id', 'type', 'user_login', 'surname', 'user_ip', 'user_role', 'value', 'custom_type', 'policy_name', 'syslog_active', 'incident_countermeasures', 'incident_started_at', 'user_id', 'policy_id', 'incident_rules', 'incident_max_pass_bps', 'incident_max_input_bps', 'incident_max_drop_pps', 'incident_max_drop_bps')

In [337]:
yaml_3 = (
"table_name: '3'",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {(final_query)}", 
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: be05046b-108d-46a2-b7bc-e58d178b5d24",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: Column_Name",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: STRING",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: Data_Type",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: STRING",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)
yaml_3

("table_name: '3'",
 'main_dttm_col: null',
 'description: null',
 'default_endpoint: null',
 'offset: 0',
 'cache_timeout: null',
 'catalog: postgres',
 'schema: public',
 'sql: SELECT\r\n   column_name AS "Column_Name",\r\n   data_type AS "Data_Type"\r\n   FROM\r\n       information_schema.columns\r\n  WHERE table_name = \'my_table\'\r\n  AND column_name IN (\'created_at\', \'type_id\', \'type\', \'user_login\', \'surname\', \'user_ip\', \'user_role\', \'value\', \'custom_type\', \'policy_name\', \'syslog_active\', \'incident_countermeasures\', \'incident_started_at\', \'user_id\', \'policy_id\', \'incident_rules\', \'incident_max_pass_bps\', \'incident_max_input_bps\', \'incident_max_drop_pps\', \'incident_max_drop_bps\')',
 'params: null',
 'template_params: null',
 'filter_select_enabled: true',
 'fetch_values_predicate: null',
 'extra: null',
 'normalize_columns: false',
 'always_filter_main_dttm: false',
 'uuid: be05046b-108d-46a2-b7bc-e58d178b5d24',
 'metrics:',
 '- metric_name: count',
 '  verbose_name: COUNT(*)',
 '  metric_type: count',
 '  expression: COUNT(*)',
 '  description: null',
 '  d3format: null',
 '  currency: null',
 '  extra: null',
 '  warning_text: null',
 'columns:',
 '- column_name: Column_Name',
 '  verbose_name: null',
 '  is_dttm: false',
 '  is_active: true',
 '  type: STRING',
 '  advanced_data_type: null',
 '  groupby: true',
 '  filterable: true',
 '  expression: null',
 '  description: null',
 '  python_date_format: null',
 '  extra: null',
 '- column_name: Data_Type',
 '  verbose_name: null',
 '  is_dttm: false',
 '  is_active: true',
 '  type: STRING',
 '  advanced_data_type: null',
 '  groupby: true',
 '  filterable: true',
 '  expression: null',
 '  description: null',
 '  python_date_format: null',
 '  extra: null',
 'version: 1.0.0',
 'database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118')

In [338]:

open('C:/Users/idukh/OneDrive/Рабочий стол/ДИСК D/INNOSTAGE/sql_request/dashboard_export/dashboard_export/datasets/PostgreSQL/3.yaml', 'w').write('\n'.join(yaml_3))

1591

1

In [339]:
import sqlite3

conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

cursor.execute(selection_query)
rows = cursor.fetchall()

columns = [description[0] for description in cursor.description]

count_parts = [f"COUNT('{column}')" for column in columns]

final_query = (
    "SELECT \r\n"
    "    GREATEST(\r\n"
    "        " + ',\r\n        '.join(count_parts) + "\r\n"
    "    ) AS count_line\r\n"
    "   FROM \r\n"
    "    mitigator_table\r\n"
    "   WHERE \r\n"
    "    " + ' OR '.join([f"'{column}' IS NOT NULL" for column in columns]) + ";"
)

print(final_query)

conn.close()

SELECT
    GREATEST(
        COUNT('created_at'),
        COUNT('type_id'),
        COUNT('type'),
        COUNT('user_id'),
        COUNT('user_login'),
        COUNT('surname'),
        COUNT('user_ip'),
        COUNT('user_role'),
        COUNT('value'),
        COUNT('custom_type'),
        COUNT('policy_id'),
        COUNT('policy_name'),
        COUNT('incident_rules'),
        COUNT('syslog_active'),
        COUNT('incident_countermeasures'),
        COUNT('incident_max_pass_bps'),
        COUNT('incident_max_input_bps'),
        COUNT('incident_max_drop_pps'),
        COUNT('incident_max_drop_bps'),
        COUNT('incident_started_at')
    ) AS count_line
   FROM
    mitigator_table
   WHERE
    'created_at' IS NOT NULL OR 'type_id' IS NOT NULL OR 'type' IS NOT NULL OR 'user_id' IS NOT NULL OR 'user_login' IS NOT NULL OR 'surname' IS NOT NULL OR 'user_ip' IS NOT NULL OR 'user_role' IS NOT NULL OR 'value' IS NOT NULL OR 'custom_type' IS NOT NULL OR 'policy_id' IS NOT NULL OR 'policy_name' IS NOT NULL OR 'incident_rules' IS NOT NULL OR 'syslog_active' IS NOT NULL OR 'incident_countermeasures' IS NOT NULL OR 'incident_max_pass_bps' IS NOT NULL OR 'incident_max_input_bps' IS NOT NULL OR 'incident_max_drop_pps' IS NOT NULL OR 'incident_max_drop_bps' IS NOT NULL OR 'incident_started_at' IS NOT NULL;

In [340]:
yaml_1 = (
"table_name: '1'",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {(final_query)}", 
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: 57d109fb-7ef4-40f8-86f0-c8c254839fcc",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: count_line",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)

yaml_1

("table_name: '1'",
 'main_dttm_col: null',
 'description: null',
 'default_endpoint: null',
 'offset: 0',
 'cache_timeout: null',
 'catalog: postgres',
 'schema: public',
 "sql: SELECT \r\n    GREATEST(\r\n        COUNT('created_at'),\r\n        COUNT('type_id'),\r\n        COUNT('type'),\r\n        COUNT('user_id'),\r\n        COUNT('user_login'),\r\n        COUNT('surname'),\r\n        COUNT('user_ip'),\r\n        COUNT('user_role'),\r\n        COUNT('value'),\r\n        COUNT('custom_type'),\r\n        COUNT('policy_id'),\r\n        COUNT('policy_name'),\r\n        COUNT('incident_rules'),\r\n        COUNT('syslog_active'),\r\n        COUNT('incident_countermeasures'),\r\n        COUNT('incident_max_pass_bps'),\r\n        COUNT('incident_max_input_bps'),\r\n        COUNT('incident_max_drop_pps'),\r\n        COUNT('incident_max_drop_bps'),\r\n        COUNT('incident_started_at')\r\n    ) AS count_line\r\n   FROM \r\n    mitigator_table\r\n   WHERE \r\n    'created_at' IS NOT NULL OR 'type_id' IS NOT NULL OR 'type' IS NOT NULL OR 'user_id' IS NOT NULL OR 'user_login' IS NOT NULL OR 'surname' IS NOT NULL OR 'user_ip' IS NOT NULL OR 'user_role' IS NOT NULL OR 'value' IS NOT NULL OR 'custom_type' IS NOT NULL OR 'policy_id' IS NOT NULL OR 'policy_name' IS NOT NULL OR 'incident_rules' IS NOT NULL OR 'syslog_active' IS NOT NULL OR 'incident_countermeasures' IS NOT NULL OR 'incident_max_pass_bps' IS NOT NULL OR 'incident_max_input_bps' IS NOT NULL OR 'incident_max_drop_pps' IS NOT NULL OR 'incident_max_drop_bps' IS NOT NULL OR 'incident_started_at' IS NOT NULL;",
 'params: null',
 'template_params: null',
 'filter_select_enabled: true',
 'fetch_values_predicate: null',
 'extra: null',
 'normalize_columns: false',
 'always_filter_main_dttm: false',
 'uuid: 57d109fb-7ef4-40f8-86f0-c8c254839fcc',
 'metrics:',
 '- metric_name: count',
 '  verbose_name: COUNT(*)',
 '  metric_type: count',
 '  expression: COUNT(*)',
 '  description: null',
 '  d3format: null',
 '  currency: null',
 '  extra: null',
 '  warning_text: null',
 'columns:',
 '- column_name: count_line',
 '  verbose_name: null',
 '  is_dttm: false',
 '  is_active: true',
 '  type: LONGINTEGER',
 '  advanced_data_type: null',
 '  groupby: true',
 '  filterable: true',
 '  expression: null',
 '  description: null',
 '  python_date_format: null',
 '  extra: null',
 'version: 1.0.0',
 'database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118')

In [341]:

open('C:/Users/idukh/OneDrive/Рабочий стол/ДИСК D/INNOSTAGE/sql_request/dashboard_export/dashboard_export/datasets/PostgreSQL/1.yaml', 'w').write('\n'.join(yaml_1))

2207

In [342]:
import zipfile
import os

def compress_directory_to_zip(zip_filename, directory):
    with zipfile.ZipFile(zip_filename, 'w', zipfile.ZIP_DEFLATED) as zipf:
        for root, dirs, files in os.walk(directory):
            for file in files:
                file_path = os.path.join(root, file)
                zipf.write(file_path, os.path.relpath(file_path, os.path.join(directory, '..')))

# Пример использования
compress_directory_to_zip('C:/Users/idukh/OneDrive/Рабочий стол/ДИСК D/INNOSTAGE/sql_request/dashboard_export/dashboard_export.zip', 'C:/Users/idukh/OneDrive/Рабочий стол/ДИСК D/INNOSTAGE/sql_request/dashboard_export/dashboard_export')