In [1]:
import json

with open('name_table.json') as f:
    config = json.load(f)

table_name = config['table_name']

In [ ]:
import psycopg2
import pandas as pd

# Настройка соединения с базой данных PostgreSQL
conn = psycopg2.connect(
    user="postgres",
    password="1",
    host="localhost",
    port="5435",
    database="postgres"
)



# Используем pandas для загрузки данных в DataFrame
df = pd.read_sql_query(f"SELECT * FROM {table_name}", conn)

# Закрываем соединение
conn.close()

Time_2

In [ ]:
import sqlite3

columns =  df.columns.tolist()

count_parts = [f"COUNT('{column}')" for column in columns]

final_query_time_2 =  (
    "SELECT \r\n"
    "    GREATEST(\r\n"
    "        " + ',\r\n        '.join(count_parts) + "\r\n"
    "    ) AS count_line\r\n"
    "   FROM \r\n"
    f"    {table_name}\r\n"
    "   WHERE \r\n"
    "    " + ' OR '.join([f"'{column}' IS NOT NULL" for column in columns]) + ";"
)

print(final_query_time_2)

conn.close()

In [ ]:
Time_2 = (
"table_name: Time_2",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {repr(final_query_time_2)} ",
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: fd91a537-b418-4be5-92ca-c62d01b85d63",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: count_line",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)

Time_3

In [ ]:
text_columns = df.select_dtypes(include=['object']).columns.tolist()

query_parts = []
for column in text_columns:
    query_part = (
        f"  SELECT\r\n"
        f"    '{column}' AS column_name,\r\n"
        f"    COUNT(DISTINCT {column}) AS unique_count\r\n"
        f"  FROM {table_name}"
    )
    query_parts.append(query_part)

final_query_time_3 = "\r\n  UNION ALL\r\n".join(query_parts)

print(final_query_time_3)

  SELECT
    'atm_acquiring_country' AS column_name,
    COUNT(DISTINCT atm_acquiring_country) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_acquiring_icc' AS column_name,
    COUNT(DISTINCT atm_acquiring_icc) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_branch' AS column_name,
    COUNT(DISTINCT atm_branch) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_card_entry_mode' AS column_name,
    COUNT(DISTINCT atm_card_entry_mode) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_city' AS column_name,
    COUNT(DISTINCT atm_city) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_class' AS column_name,
    COUNT(DISTINCT atm_class) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_continent' AS column_name,
    COUNT(DISTINCT atm_continent) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_country' AS column_name,
    COUNT(DISTINCT atm_country) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_cvv_check' AS column_name,
    COUNT(DISTINCT atm_cvv_check) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_forwarding_icc' AS column_name,
    COUNT(DISTINCT atm_forwarding_icc) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_is_fi_owner' AS column_name,
    COUNT(DISTINCT atm_is_fi_owner) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_merchant_id' AS column_name,
    COUNT(DISTINCT atm_merchant_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_merchant_name' AS column_name,
    COUNT(DISTINCT atm_merchant_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_owner_fi_name' AS column_name,
    COUNT(DISTINCT atm_owner_fi_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_pin_check' AS column_name,
    COUNT(DISTINCT atm_pin_check) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_pin_entry_mode' AS column_name,
    COUNT(DISTINCT atm_pin_entry_mode) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_receiving_icc' AS column_name,
    COUNT(DISTINCT atm_receiving_icc) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_region' AS column_name,
    COUNT(DISTINCT atm_region) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_retailer_name' AS column_name,
    COUNT(DISTINCT atm_retailer_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'atm_zip' AS column_name,
    COUNT(DISTINCT atm_zip) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'branch_branch' AS column_name,
    COUNT(DISTINCT branch_branch) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'branch_host' AS column_name,
    COUNT(DISTINCT branch_host) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'branch_office' AS column_name,
    COUNT(DISTINCT branch_office) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'branch_operator_id' AS column_name,
    COUNT(DISTINCT branch_operator_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'branch_tercode' AS column_name,
    COUNT(DISTINCT branch_tercode) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_balance_currency' AS column_name,
    COUNT(DISTINCT card_balance_currency) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_bin' AS column_name,
    COUNT(DISTINCT card_bin) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_category' AS column_name,
    COUNT(DISTINCT card_category) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_contract_currency' AS column_name,
    COUNT(DISTINCT card_contract_currency) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_day_limit_currency' AS column_name,
    COUNT(DISTINCT card_day_limit_currency) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_days_since_issue' AS column_name,
    COUNT(DISTINCT card_days_since_issue) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_expire_date' AS column_name,
    COUNT(DISTINCT card_expire_date) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_issue_date' AS column_name,
    COUNT(DISTINCT card_issue_date) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_issuer_country' AS column_name,
    COUNT(DISTINCT card_issuer_country) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_issuer_id' AS column_name,
    COUNT(DISTINCT card_issuer_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_number' AS column_name,
    COUNT(DISTINCT card_number) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_product' AS column_name,
    COUNT(DISTINCT card_product) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_system' AS column_name,
    COUNT(DISTINCT card_system) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'card_type' AS column_name,
    COUNT(DISTINCT card_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'cardholder_currency' AS column_name,
    COUNT(DISTINCT cardholder_currency) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'channel' AS column_name,
    COUNT(DISTINCT channel) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'client_trx_id' AS column_name,
    COUNT(DISTINCT client_trx_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'device_tz' AS column_name,
    COUNT(DISTINCT device_tz) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'devi_src_mob_har' AS column_name,
    COUNT(DISTINCT devi_src_mob_har) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'devi_src_mob_osid' AS column_name,
    COUNT(DISTINCT devi_src_mob_osid) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ec_card_validarion_res' AS column_name,
    COUNT(DISTINCT ec_card_validarion_res) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ec_cvv2_data' AS column_name,
    COUNT(DISTINCT ec_cvv2_data) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'event_type' AS column_name,
    COUNT(DISTINCT event_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'evt_act' AS column_name,
    COUNT(DISTINCT evt_act) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_branch_region' AS column_name,
    COUNT(DISTINCT ext_branch_region) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_device_hash' AS column_name,
    COUNT(DISTINCT ext_device_hash) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_evt_des' AS column_name,
    COUNT(DISTINCT ext_evt_des) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_issuer_bank_name' AS column_name,
    COUNT(DISTINCT ext_issuer_bank_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_mtid' AS column_name,
    COUNT(DISTINCT ext_mtid) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_operation_category' AS column_name,
    COUNT(DISTINCT ext_operation_category) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_operation_id' AS column_name,
    COUNT(DISTINCT ext_operation_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_operation_type' AS column_name,
    COUNT(DISTINCT ext_operation_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_payee_acc' AS column_name,
    COUNT(DISTINCT ext_payee_acc) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_payee_bic' AS column_name,
    COUNT(DISTINCT ext_payee_bic) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_payee_card_num' AS column_name,
    COUNT(DISTINCT ext_payee_card_num) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_payee_inn' AS column_name,
    COUNT(DISTINCT ext_payee_inn) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_user_phone' AS column_name,
    COUNT(DISTINCT ext_user_phone) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_payer_inn' AS column_name,
    COUNT(DISTINCT ext_payer_inn) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_resp_code' AS column_name,
    COUNT(DISTINCT ext_resp_code) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_user_bic' AS column_name,
    COUNT(DISTINCT ext_user_bic) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_user_inn' AS column_name,
    COUNT(DISTINCT ext_user_inn) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_usr_log' AS column_name,
    COUNT(DISTINCT ext_usr_log) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ext_usr_tax' AS column_name,
    COUNT(DISTINCT ext_usr_tax) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'fraud_type' AS column_name,
    COUNT(DISTINCT fraud_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'fraud_type_aml' AS column_name,
    COUNT(DISTINCT fraud_type_aml) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'geoip_city' AS column_name,
    COUNT(DISTINCT geoip_city) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'geoip_country' AS column_name,
    COUNT(DISTINCT geoip_country) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'geoip_provider' AS column_name,
    COUNT(DISTINCT geoip_provider) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'geoip_region' AS column_name,
    COUNT(DISTINCT geoip_region) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ip_classa' AS column_name,
    COUNT(DISTINCT ip_classa) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ip_classb' AS column_name,
    COUNT(DISTINCT ip_classb) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ip_classc' AS column_name,
    COUNT(DISTINCT ip_classc) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'int_web_devi_key' AS column_name,
    COUNT(DISTINCT int_web_devi_key) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'mcc' AS column_name,
    COUNT(DISTINCT mcc) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'mcc_group' AS column_name,
    COUNT(DISTINCT mcc_group) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'operator_department' AS column_name,
    COUNT(DISTINCT operator_department) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'operator_name' AS column_name,
    COUNT(DISTINCT operator_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'operator_nubmer' AS column_name,
    COUNT(DISTINCT operator_nubmer) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'operator_position' AS column_name,
    COUNT(DISTINCT operator_position) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'org_id' AS column_name,
    COUNT(DISTINCT org_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payee_account_type' AS column_name,
    COUNT(DISTINCT payee_account_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payee_bank_type' AS column_name,
    COUNT(DISTINCT payee_bank_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payee_bic' AS column_name,
    COUNT(DISTINCT payee_bic) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payee_currency' AS column_name,
    COUNT(DISTINCT payee_currency) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payee_name' AS column_name,
    COUNT(DISTINCT payee_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payee_ownership' AS column_name,
    COUNT(DISTINCT payee_ownership) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payee_user_id' AS column_name,
    COUNT(DISTINCT payee_user_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payer_bic' AS column_name,
    COUNT(DISTINCT payer_bic) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'payer_name' AS column_name,
    COUNT(DISTINCT payer_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_action' AS column_name,
    COUNT(DISTINCT policy_action) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_action_aml' AS column_name,
    COUNT(DISTINCT policy_action_aml) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_action_fr' AS column_name,
    COUNT(DISTINCT policy_action_fr) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_rule_id' AS column_name,
    COUNT(DISTINCT policy_rule_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_rule_id_aml' AS column_name,
    COUNT(DISTINCT policy_rule_id_aml) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_rule_id_fr' AS column_name,
    COUNT(DISTINCT policy_rule_id_fr) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_rule_name' AS column_name,
    COUNT(DISTINCT policy_rule_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_rule_num_aml' AS column_name,
    COUNT(DISTINCT policy_rule_num_aml) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'policy_rule_num_fr' AS column_name,
    COUNT(DISTINCT policy_rule_num_fr) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_active_state' AS column_name,
    COUNT(DISTINCT pos_active_state) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_auth_cap' AS column_name,
    COUNT(DISTINCT pos_auth_cap) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_auth_entity' AS column_name,
    COUNT(DISTINCT pos_auth_entity) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_auth_method' AS column_name,
    COUNT(DISTINCT pos_auth_method) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_capture_cap' AS column_name,
    COUNT(DISTINCT pos_capture_cap) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_card_presence' AS column_name,
    COUNT(DISTINCT pos_card_presence) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_cardholder_presence' AS column_name,
    COUNT(DISTINCT pos_cardholder_presence) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_data_input_cap' AS column_name,
    COUNT(DISTINCT pos_data_input_cap) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_data_input_mode' AS column_name,
    COUNT(DISTINCT pos_data_input_mode) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_data_out_cap' AS column_name,
    COUNT(DISTINCT pos_data_out_cap) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_final_scoring' AS column_name,
    COUNT(DISTINCT pos_final_scoring) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_merchant_scoring' AS column_name,
    COUNT(DISTINCT pos_merchant_scoring) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_op_env' AS column_name,
    COUNT(DISTINCT pos_op_env) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_partial_approval' AS column_name,
    COUNT(DISTINCT pos_partial_approval) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_pin_cap_cap' AS column_name,
    COUNT(DISTINCT pos_pin_cap_cap) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_pin_service_code' AS column_name,
    COUNT(DISTINCT pos_pin_service_code) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_pin_service_result' AS column_name,
    COUNT(DISTINCT pos_pin_service_result) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_purchase_amt_only' AS column_name,
    COUNT(DISTINCT pos_purchase_amt_only) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_real_time_subst' AS column_name,
    COUNT(DISTINCT pos_real_time_subst) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_term_out_cap' AS column_name,
    COUNT(DISTINCT pos_term_out_cap) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'pos_type' AS column_name,
    COUNT(DISTINCT pos_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'resolution' AS column_name,
    COUNT(DISTINCT resolution) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'resolution_aml' AS column_name,
    COUNT(DISTINCT resolution_aml) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'resolution_date' AS column_name,
    COUNT(DISTINCT resolution_date) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'resolution_date_aml' AS column_name,
    COUNT(DISTINCT resolution_date_aml) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'ter_code' AS column_name,
    COUNT(DISTINCT ter_code) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'tra_cln_def' AS column_name,
    COUNT(DISTINCT tra_cln_def) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'tra_cln_typ' AS column_name,
    COUNT(DISTINCT tra_cln_typ) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'tra_tra_amo_cur' AS column_name,
    COUNT(DISTINCT tra_tra_amo_cur) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'tra_tra_oth_id' AS column_name,
    COUNT(DISTINCT tra_tra_oth_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'tra_tra_own_id' AS column_name,
    COUNT(DISTINCT tra_tra_own_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'trx_atm_id' AS column_name,
    COUNT(DISTINCT trx_atm_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'trx_terminal_id' AS column_name,
    COUNT(DISTINCT trx_terminal_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'unified_id' AS column_name,
    COUNT(DISTINCT unified_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_birthdate' AS column_name,
    COUNT(DISTINCT user_birthdate) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_category' AS column_name,
    COUNT(DISTINCT user_category) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_doc_number' AS column_name,
    COUNT(DISTINCT user_doc_number) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_doc_type' AS column_name,
    COUNT(DISTINCT user_doc_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_first_name' AS column_name,
    COUNT(DISTINCT user_first_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_id' AS column_name,
    COUNT(DISTINCT user_id) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_last_name' AS column_name,
    COUNT(DISTINCT user_last_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_name' AS column_name,
    COUNT(DISTINCT user_name) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_patronymic' AS column_name,
    COUNT(DISTINCT user_patronymic) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_segment' AS column_name,
    COUNT(DISTINCT user_segment) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'user_type' AS column_name,
    COUNT(DISTINCT user_type) AS unique_count
  FROM anti_frod
  UNION ALL
  SELECT
    'usr_ip_cur_add' AS column_name,
    COUNT(DISTINCT usr_ip_cur_add) AS unique_count
  FROM anti_frod

In [ ]:
Time_3 = (
"table_name: Time_3",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {(final_query_time_3)} ",
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: 094fc1fa-42e9-427d-a9a1-0fa661fb5fa8",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: unique_count",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: column_name",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: STRING",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)

Time_4

In [ ]:
columns =  df.columns.tolist()


column_list = "', '".join(columns)
final_query_time_4=(
    "SELECT\r\n"
    "   column_name AS \"Column_Name\",\r\n"
    "   data_type AS \"Data_Type\"\r\n"
    "   FROM\r\n"
    "       information_schema.columns\r\n"
    f"   WHERE table_name = '{table_name}'\r\n"
    f"   AND column_name IN ('{column_list}')"
)
final_query_time_4

'SELECT\r\n   column_name AS "Column_Name",\r\n   data_type AS "Data_Type"\r\n   FROM\r\n       information_schema.columns\r\n   WHERE table_name = \'anti_frod\'\r\n   AND column_name IN (\'atm_acquiring_country\', \'atm_acquiring_icc\', \'atm_branch\', \'atm_card_entry_mode\', \'atm_cardless\', \'atm_cash_in\', \'atm_cash_in_acc\', \'atm_cash_in_pay\', \'atm_city\', \'atm_class\', \'atm_continent\', \'atm_country\', \'atm_cvv_check\', \'atm_exchange\', \'atm_forwarding_icc\', \'atm_is_fi_owner\', \'atm_merchant_id\', \'atm_merchant_name\', \'atm_owner_fi_name\', \'atm_pin_check\', \'atm_pin_entry_mode\', \'atm_receiving_icc\', \'atm_region\', \'atm_retailer_name\', \'atm_usr_num_hit\', \'atm_virt\', \'atm_zip\', \'branch_branch\', \'branch_host\', \'branch_office\', \'branch_operator_id\', \'branch_tercode\', \'card_balance\', \'card_balance_currency\', \'card_bin\', \'card_category\', \'card_contract_currency\', \'card_day_limit\', \'card_day_limit_currency\', \'card_days_since_issue\', \'card_expire_date\', \'card_issue_date\', \'card_issuer_country\', \'card_issuer_id\', \'card_number\', \'card_product\', \'card_system\', \'card_type\', \'cardholder_amount\', \'cardholder_currency\', \'channel\', \'client_trx_id\', \'conv_rate\', \'device_tz\', \'devi_src_mob_har\', \'devi_src_mob_osid\', \'ec_card_validarion_res\', \'ec_cvv2_data\', \'event_time\', \'event_type\', \'evt_act\', \'ext_amount_rub\', \'ext_branch_region\', \'ext_device_hash\', \'ext_evt_des\', \'ext_issuer_bank_name\', \'ext_mtid\', \'ext_operation_category\', \'ext_operation_id\', \'ext_operation_type\', \'ext_payee_acc\', \'ext_payee_bic\', \'ext_payee_card_num\', \'ext_payee_inn\', \'ext_user_phone\', \'ext_payer_inn\', \'ext_resp_code\', \'ext_user_bic\', \'ext_user_inn\', \'ext_usr_log\', \'ext_usr_tax\', \'fraud_type\', \'fraud_type_aml\', \'geoip_city\', \'geoip_country\', \'geoip_provider\', \'geoip_region\', \'ip_classa\', \'ip_classb\', \'ip_classc\', \'int_web_devi_key\', \'ip_mv_too_fast\', \'mcc\', \'mcc_group\', \'operator_department\', \'operator_name\', \'operator_nubmer\', \'operator_position\', \'org_id\', \'payee_account_type\', \'payee_amount\', \'payee_bank_type\', \'payee_bic\', \'payee_currency\', \'payee_name\', \'payee_ownership\', \'payee_rate\', \'payee_user_id\', \'payer_bic\', \'payer_name\', \'policy_action\', \'policy_action_aml\', \'policy_action_fr\', \'policy_rule_id\', \'policy_rule_id_aml\', \'policy_rule_id_fr\', \'policy_rule_name\', \'policy_rule_num_aml\', \'policy_rule_num_fr\', \'pos_active_state\', \'pos_auth_cap\', \'pos_auth_entity\', \'pos_auth_method\', \'pos_capture_cap\', \'pos_card_presence\', \'pos_cardholder_presence\', \'pos_data_input_cap\', \'pos_data_input_mode\', \'pos_data_out_cap\', \'pos_final_scoring\', \'pos_merchant_scoring\', \'pos_op_env\', \'pos_partial_approval\', \'pos_pin_cap_cap\', \'pos_pin_service_code\', \'pos_pin_service_result\', \'pos_purchase_amt_only\', \'pos_real_time_subst\', \'pos_term_out_cap\', \'pos_type\', \'repl_amount\', \'resolution\', \'resolution_aml\', \'resolution_date\', \'resolution_date_aml\', \'risk_score_aml_final\', \'risk_score_final\', \'risk_score_payee_final\', \'ter_code\', \'tra_cln_def\', \'tra_cln_typ\', \'tra_tra_amo_amo\', \'tra_tra_amo_cur\', \'tra_tra_oth_id\', \'tra_tra_own_id\', \'trx_atm_id\', \'trx_terminal_id\', \'u_atm_day_f_hit\', \'u_atm_day_l_hit\', \'u_day_sin_ema_cha\', \'u_day_sin_f_hit\', \'u_day_sin_pwd_cha\', \'u_day_sin_tel_cha\', \'u_devprn_day_f_hit\', \'u_hour_sin_f_hit\', \'u_ip_day_sin_f_hit\', \'u_ip_diff_from_p\', \'u_ipb_day_sin_f_hit\', \'u_ipc_day_sin_f_hit\', \'u_isp_day_sin_f_hit\', \'u_mobdev_day_sin_f_hit\', \'u_mobdev_day_sin_l_hit\', \'u_mobisp_day_sin_f_hit\', \'u_mobmac_day_sin_f_hit\', \'u_p_day_sin_f_hit\', \'u_sim_day_sin_f_hit\', \'u_webdev_day_sin_f_hit\', \'u_webdev_day_sin_l_hit\', \'unified_id\', \'user_birthdate\', \'user_category\', \'user_doc_number\', \'user_doc_type\', \'user_first_name\', \'user_id\', \'user_last_name\', \'user_name\', \'user_patronymic\', \'user_segment\', \'user_type\', \'usr_ip_cur_add\')'

In [ ]:
Time_4 = (
"table_name: Time_4",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {(final_query_time_4)} ",
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: 763ef388-5be4-46bb-b7e7-f0fb3254eeff",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: Column_Name",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: STRING",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: Data_Type",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: STRING",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)

Time_5

In [ ]:
columns =  df.columns.tolist()


column_list = "', '".join(columns)
final_query_time_5 = (
    "SELECT\r\n"
    "    COUNT(*) FILTER (WHERE data_type ILIKE 'character varying' OR data_type ILIKE 'text') AS text_column_count,\r\n"
    "    COUNT(*) FILTER (WHERE data_type ILIKE 'integer' OR data_type ILIKE 'numeric' OR data_type ILIKE 'double precision' OR data_type ILIKE 'real') AS numeric_column_count,\r\n"
    "    COUNT(*) FILTER (WHERE data_type ILIKE 'TIMESTAMP' OR data_type ILIKE 'time' OR data_type ILIKE 'date') AS time_column_count\r\n"
    "   FROM information_schema.columns\r\n"
    f"   WHERE table_name = '{table_name}'\r\n"
    f"   AND column_name IN ('{column_list}')"
)
final_query_time_5

"SELECT\r\n    COUNT(*) FILTER (WHERE data_type ILIKE 'character varying' OR data_type ILIKE 'text') AS text_column_count,\r\n    COUNT(*) FILTER (WHERE data_type ILIKE 'integer' OR data_type ILIKE 'numeric' OR data_type ILIKE 'double precision' OR data_type ILIKE 'real') AS numeric_column_count,\r\n    COUNT(*) FILTER (WHERE data_type ILIKE 'TIMESTAMP' OR data_type ILIKE 'time' OR data_type ILIKE 'date') AS time_column_count\r\n   FROM information_schema.columns\r\n   WHERE table_name = 'anti_frod'\r\n   AND column_name IN ('atm_acquiring_country', 'atm_acquiring_icc', 'atm_branch', 'atm_card_entry_mode', 'atm_cardless', 'atm_cash_in', 'atm_cash_in_acc', 'atm_cash_in_pay', 'atm_city', 'atm_class', 'atm_continent', 'atm_country', 'atm_cvv_check', 'atm_exchange', 'atm_forwarding_icc', 'atm_is_fi_owner', 'atm_merchant_id', 'atm_merchant_name', 'atm_owner_fi_name', 'atm_pin_check', 'atm_pin_entry_mode', 'atm_receiving_icc', 'atm_region', 'atm_retailer_name', 'atm_usr_num_hit', 'atm_virt', 'atm_zip', 'branch_branch', 'branch_host', 'branch_office', 'branch_operator_id', 'branch_tercode', 'card_balance', 'card_balance_currency', 'card_bin', 'card_category', 'card_contract_currency', 'card_day_limit', 'card_day_limit_currency', 'card_days_since_issue', 'card_expire_date', 'card_issue_date', 'card_issuer_country', 'card_issuer_id', 'card_number', 'card_product', 'card_system', 'card_type', 'cardholder_amount', 'cardholder_currency', 'channel', 'client_trx_id', 'conv_rate', 'device_tz', 'devi_src_mob_har', 'devi_src_mob_osid', 'ec_card_validarion_res', 'ec_cvv2_data', 'event_time', 'event_type', 'evt_act', 'ext_amount_rub', 'ext_branch_region', 'ext_device_hash', 'ext_evt_des', 'ext_issuer_bank_name', 'ext_mtid', 'ext_operation_category', 'ext_operation_id', 'ext_operation_type', 'ext_payee_acc', 'ext_payee_bic', 'ext_payee_card_num', 'ext_payee_inn', 'ext_user_phone', 'ext_payer_inn', 'ext_resp_code', 'ext_user_bic', 'ext_user_inn', 'ext_usr_log', 'ext_usr_tax', 'fraud_type', 'fraud_type_aml', 'geoip_city', 'geoip_country', 'geoip_provider', 'geoip_region', 'ip_classa', 'ip_classb', 'ip_classc', 'int_web_devi_key', 'ip_mv_too_fast', 'mcc', 'mcc_group', 'operator_department', 'operator_name', 'operator_nubmer', 'operator_position', 'org_id', 'payee_account_type', 'payee_amount', 'payee_bank_type', 'payee_bic', 'payee_currency', 'payee_name', 'payee_ownership', 'payee_rate', 'payee_user_id', 'payer_bic', 'payer_name', 'policy_action', 'policy_action_aml', 'policy_action_fr', 'policy_rule_id', 'policy_rule_id_aml', 'policy_rule_id_fr', 'policy_rule_name', 'policy_rule_num_aml', 'policy_rule_num_fr', 'pos_active_state', 'pos_auth_cap', 'pos_auth_entity', 'pos_auth_method', 'pos_capture_cap', 'pos_card_presence', 'pos_cardholder_presence', 'pos_data_input_cap', 'pos_data_input_mode', 'pos_data_out_cap', 'pos_final_scoring', 'pos_merchant_scoring', 'pos_op_env', 'pos_partial_approval', 'pos_pin_cap_cap', 'pos_pin_service_code', 'pos_pin_service_result', 'pos_purchase_amt_only', 'pos_real_time_subst', 'pos_term_out_cap', 'pos_type', 'repl_amount', 'resolution', 'resolution_aml', 'resolution_date', 'resolution_date_aml', 'risk_score_aml_final', 'risk_score_final', 'risk_score_payee_final', 'ter_code', 'tra_cln_def', 'tra_cln_typ', 'tra_tra_amo_amo', 'tra_tra_amo_cur', 'tra_tra_oth_id', 'tra_tra_own_id', 'trx_atm_id', 'trx_terminal_id', 'u_atm_day_f_hit', 'u_atm_day_l_hit', 'u_day_sin_ema_cha', 'u_day_sin_f_hit', 'u_day_sin_pwd_cha', 'u_day_sin_tel_cha', 'u_devprn_day_f_hit', 'u_hour_sin_f_hit', 'u_ip_day_sin_f_hit', 'u_ip_diff_from_p', 'u_ipb_day_sin_f_hit', 'u_ipc_day_sin_f_hit', 'u_isp_day_sin_f_hit', 'u_mobdev_day_sin_f_hit', 'u_mobdev_day_sin_l_hit', 'u_mobisp_day_sin_f_hit', 'u_mobmac_day_sin_f_hit', 'u_p_day_sin_f_hit', 'u_sim_day_sin_f_hit', 'u_webdev_day_sin_f_hit', 'u_webdev_day_sin_l_hit', 'unified_id', 'user_birthdate', 'user_category', 'user_doc_number', 'user_doc_type', 'user_first_name', 'user_id', 'user_last_name', 'user_name', 'user_patronymic', 'user_segment', 'user_type', 'usr_ip_cur_add')"

In [ ]:
Time_5 = (
"table_name: Time_5",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {repr(final_query_time_5)} ",
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: d661cc21-5919-4136-aa9d-cec6f3886047",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: numeric_column_count",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: time_column_count",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: text_column_count",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: LONGINTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)

Time_6

In [ ]:
numeric_columns = df.select_dtypes(include='number')

correlation_matrix = numeric_columns.corr()
final_query = []
threshold = 0.5

for col1 in correlation_matrix.columns:
    for col2 in correlation_matrix.columns:
        if col1 != col2 and correlation_matrix[col1][col2] > threshold:
            query = (
                f"  SELECT \r\n"
                f"    '{col1}\\{col2}' AS name,\r\n"
                f"    AVG({col1}) AS average_value_1,\r\n"
                f"    MIN({col1}) AS min_value_1,\r\n"
                f"    MAX({col1}) AS max_value_1,\r\n"
                f"    AVG({col2}) AS average_value_2,\r\n"
                f"    MIN({col2}) AS min_value_2,\r\n"
                f"    MAX({col2}) AS max_value_2\r\n"
                f"  FROM '{table_name}'\r\n"
                f"  UNION\r\n"
            )
            final_query.append(query)

# Объединение всех запросов с последним SELECT без UNION
final_query_time_6 = ''.join(final_query).rstrip('UNION\r\n') + ';\r\n'
print(final_query_time_6)

  SELECT
    'atm_usr_num_hit\card_balance' AS name,
    AVG(atm_usr_num_hit) AS average_value_1,
    MIN(atm_usr_num_hit) AS min_value_1,
    MAX(atm_usr_num_hit) AS max_value_1,
    AVG(card_balance) AS average_value_2,
    MIN(card_balance) AS min_value_2,
    MAX(card_balance) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'atm_usr_num_hit\card_day_limit' AS name,
    AVG(atm_usr_num_hit) AS average_value_1,
    MIN(atm_usr_num_hit) AS min_value_1,
    MAX(atm_usr_num_hit) AS max_value_1,
    AVG(card_day_limit) AS average_value_2,
    MIN(card_day_limit) AS min_value_2,
    MAX(card_day_limit) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'atm_usr_num_hit\cardholder_amount' AS name,
    AVG(atm_usr_num_hit) AS average_value_1,
    MIN(atm_usr_num_hit) AS min_value_1,
    MAX(atm_usr_num_hit) AS max_value_1,
    AVG(cardholder_amount) AS average_value_2,
    MIN(cardholder_amount) AS min_value_2,
    MAX(cardholder_amount) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'card_balance\atm_usr_num_hit' AS name,
    AVG(card_balance) AS average_value_1,
    MIN(card_balance) AS min_value_1,
    MAX(card_balance) AS max_value_1,
    AVG(atm_usr_num_hit) AS average_value_2,
    MIN(atm_usr_num_hit) AS min_value_2,
    MAX(atm_usr_num_hit) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'card_balance\card_day_limit' AS name,
    AVG(card_balance) AS average_value_1,
    MIN(card_balance) AS min_value_1,
    MAX(card_balance) AS max_value_1,
    AVG(card_day_limit) AS average_value_2,
    MIN(card_day_limit) AS min_value_2,
    MAX(card_day_limit) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'card_balance\cardholder_amount' AS name,
    AVG(card_balance) AS average_value_1,
    MIN(card_balance) AS min_value_1,
    MAX(card_balance) AS max_value_1,
    AVG(cardholder_amount) AS average_value_2,
    MIN(cardholder_amount) AS min_value_2,
    MAX(cardholder_amount) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'card_day_limit\atm_usr_num_hit' AS name,
    AVG(card_day_limit) AS average_value_1,
    MIN(card_day_limit) AS min_value_1,
    MAX(card_day_limit) AS max_value_1,
    AVG(atm_usr_num_hit) AS average_value_2,
    MIN(atm_usr_num_hit) AS min_value_2,
    MAX(atm_usr_num_hit) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'card_day_limit\card_balance' AS name,
    AVG(card_day_limit) AS average_value_1,
    MIN(card_day_limit) AS min_value_1,
    MAX(card_day_limit) AS max_value_1,
    AVG(card_balance) AS average_value_2,
    MIN(card_balance) AS min_value_2,
    MAX(card_balance) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'card_day_limit\cardholder_amount' AS name,
    AVG(card_day_limit) AS average_value_1,
    MIN(card_day_limit) AS min_value_1,
    MAX(card_day_limit) AS max_value_1,
    AVG(cardholder_amount) AS average_value_2,
    MIN(cardholder_amount) AS min_value_2,
    MAX(cardholder_amount) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'cardholder_amount\atm_usr_num_hit' AS name,
    AVG(cardholder_amount) AS average_value_1,
    MIN(cardholder_amount) AS min_value_1,
    MAX(cardholder_amount) AS max_value_1,
    AVG(atm_usr_num_hit) AS average_value_2,
    MIN(atm_usr_num_hit) AS min_value_2,
    MAX(atm_usr_num_hit) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'cardholder_amount\card_balance' AS name,
    AVG(cardholder_amount) AS average_value_1,
    MIN(cardholder_amount) AS min_value_1,
    MAX(cardholder_amount) AS max_value_1,
    AVG(card_balance) AS average_value_2,
    MIN(card_balance) AS min_value_2,
    MAX(card_balance) AS max_value_2
  FROM 'anti_frod'
  UNION
  SELECT
    'cardholder_amount\card_day_limit' AS name,
    AVG(cardholder_amount) AS average_value_1,
    MIN(cardholder_amount) AS min_value_1,
    MAX(cardholder_amount) AS max_value_1,
    AVG(card_day_limit) AS average_value_2,
    MIN(card_day_limit) AS min_value_2,
    MAX(card_day_limit) AS max_value_2
  FROM 'anti_frod'
  ;

In [ ]:
Time_6 = (
"table_name: Time_6",
"main_dttm_col: null",
"description: null",
"default_endpoint: null",
"offset: 0",
"cache_timeout: null",
"catalog: postgres",
"schema: public",
f"sql: {repr(final_query_time_6)} ",
"params: null",
"template_params: null",
"filter_select_enabled: true",
"fetch_values_predicate: null",
"extra: null",
"normalize_columns: false",
"always_filter_main_dttm: false",
"uuid: b0bbe07d-1114-45bf-ac3b-0898f8a5fbe6",
"metrics:",
"- metric_name: count",
"  verbose_name: COUNT(*)",
"  metric_type: count",
"  expression: COUNT(*)",
"  description: null",
"  d3format: null",
"  currency: null",
"  extra: null",
"  warning_text: null",
"columns:",
"- column_name: average_value_1",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: DECIMAL",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: max_value_1",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: INTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: min_value_1",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: INTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: average_value_2",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: DECIMAL",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: max_value_2",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: INTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: min_value_2",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: INTEGER",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"- column_name: name",
"  verbose_name: null",
"  is_dttm: false",
"  is_active: true",
"  type: STRING",
"  advanced_data_type: null",
"  groupby: true",
"  filterable: true",
"  expression: null",
"  description: null",
"  python_date_format: null",
"  extra: null",
"version: 1.0.0",
"database_uuid: 2f651e35-38e7-4b9b-a47e-87996c769118"
)

In [ ]:

open('innstd_time_no_time_1/datasets/PostgreSQL/Time_6.yaml', 'w').write('\n'.join(Time_6))

open('innstd_time_no_time_1/datasets/PostgreSQL/Time_5.yaml', 'w').write('\n'.join(Time_5))

open('innstd_time_no_time_1/datasets/PostgreSQL/Time_4.yaml', 'w').write('\n'.join(Time_4))

open('innstd_time_no_time_1/datasets/PostgreSQL/Time_3.yaml', 'w').write('\n'.join(Time_3))

open('innstd_time_no_time_1/datasets/PostgreSQL/Time_2.yaml', 'w').write('\n'.join(Time_2))

1154